<div class="navbar">
    <div class="logo">
        <a routerLink="/main-section"><img src="assets/photo/drmsh-logo.png" alt="Logo" width="50"></a>
    </div>
    <div class="nav-links">
        <a routerLink="/user-dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/cars">Cars</a>
        <a routerLink="/post">Posts</a>
        <a routerLink="/wishlist" routerLinkActive="active">Wishlist</a>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
        <a routerLink="/reviews">Reviews</a>
    </div>
    <div class="auth-links">
        <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </div>
</div>
