.main {
    background-image: url("/assets/photo/car_dealer_hero.jpg");
    background-size: cover;
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 75vh;
    color: #FCF4F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 12, 0.71);
    z-index: -1;
}

.main h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #8F5C38;
}

.main p {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.register-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8F5C38;
    color: #FCF4F8;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.9s ease;
}

.register-btn:hover {
    background-color: #307351;
    color: #FCF4F8;
}
