<div class="hexagons">
    <h2>Pse ne?</h2>
    <p>Ne jemi kompania e vetme e cila punon me zyrat shteterore. <br> Stafi jone profesionist nuk zhgenjen.</p>
    <div class="hexas">
        <div class="one-hexa">
            <div class="hexagon">
                <i class="fa-solid fa-car"></i>
            </div>
            <h4>Kontroll i sigurt</h4>
            <p>Mundohemi te rrisim besueshmerine e te gjithe perdoruesve tane.</p>
        </div>
        <div class="one-hexa">
            <div class="hexagon">
                <i class="fa-solid fa-money-bill-transfer"></i>
            </div>
            <h4>Shit-Blerje te sigurta</h4>
            <p>Sigurojme qe transfertat te jene te sakta dhe te sigurta.</p>
        </div>
        <div class="one-hexa">
            <div class="hexagon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <h4>Support Online 24/7 </h4>
            <p>Stafi jone ju jep support online gjate gjithe kohes.</p>
        </div>
    </div>
    
</div>