<app-navbar></app-navbar>
<body>

<div class="height">
  <div class="login-box">
    <h3>Admin Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="user-box">
        <input type="email" formControlName="email" required>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password" required>
        <label>Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
</div>
</body>
<app-footer></app-footer>