<div class="checkmarks">
    <div class="photo">
        <img src="assets/photo/cars_sell.jpg" alt="">
    </div>
    <div class="info">
        <h2>Ofrojm Siguri</h2>
        <p>Makinat te cilat shiten tek ne jane te kontrolluara me detaje. <br> 
            Ne kontrollojm:</p>
        <div class="checks">
            <ul>
                <li><i class="fas fa-check"></i>Modelin</li>
                <li><i class="fas fa-check"></i> Kilometrat</li>
                <li><i class="fas fa-check"></i>Viti Prodhimit</li>
                <li><i class="fas fa-check"></i>Gjendjen e makines</li>
                <li><i class="fas fa-check"></i>Karburantin</li>
                <li><i class="fas fa-check"></i>Kambion</li>
                <li><i class="fas fa-check"></i>Kuajt Fuqi</li>
                <li><i class="fas fa-check"></i> Serviset e Makines</li>
                <li><i class="fas fa-check"></i>Historikun e pronarit</li>
            </ul>            
        </div>        
    </div>
</div>