<!-- FOOTER-->
<footer>
    <div class="mbarim">
            <div class="foot-con">
                <div class="foot-col">
                    <h4>General</h4>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                     </ul>
                </div>
                <div class="foot-col">
                    <h4>Contact</h4>
                    <ul>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li><a routerLink="/employee-login">Login</a></li>
                       </ul>
                </div>
                <div class="foot-col socially">
                    <h4>Follow Us</h4>
                    <ul>
                        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    </ul>
                </div>
            </div>
    </div>
  </footer>