<body>
    <app-user-navbar></app-user-navbar>
    <div class="wishlists">
        <h3>Wishlists</h3>
        <div *ngFor="let wishlist of wishlists; let i = index">
          <div>{{ i + 1 }}</div>
          
          <!-- Display post details dynamically -->
          <div *ngFor="let detail of getPostDetails(wishlist.post_id)">
            <strong>{{ detail.label }} :</strong> {{ detail.value }}
          </div>
          
          <a [routerLink]="['/post-details', getPostId(wishlist)]" class="btn btn-info btn-sm">
            View Post Details
          </a>
          <button class="delete-wishlist" (click)="deleteWishlist(wishlist.wishlist_id!)">Delete Wishlist</button>
        </div>
      </div>
      <app-footer></app-footer>
</body>
