<div class="about">
    <div class="text">
        <h2>Rreth Nesh</h2>
        <p>Kompania jonë, e themeluar në vitin 2009, u ofron përdoruesve mundësinë për të regjistruar makinat e tyre, për t’i shitur dhe për t’i blerë ato në mënyrë të sigurt dhe të lehtë. Përmes platformës sonë, përdoruesit mund të menaxhojnë dhe të shohin makinat e tyre të regjistruara, duke i promovuar ato për një publik më të gjerë. Ne ofrojmë një përvojë të thjeshtë dhe të besueshme që u lejon klientëve tanë të kryejnë transaksione pa shqetësime. Që prej 2009-ës, kemi ndihmuar mijëra përdorues të gjejnë makinën e duhur apo të shesin të tyren me besim të plotë.</p>
    </div>
    <div class="photo">
        <ngb-carousel>
            <ng-template ngbSlide>
              <img src="assets/photo/car_sell2.jpg" alt="First slide">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/photo/car_service.jpg" alt="Second slide">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/photo/car_service2.jpg" alt="Third slide">
            </ng-template>
          </ngb-carousel>
          
    </div>
</div>